<hmtl>
    <body>
        <p>Log File</p>
        <p id="log-data"></p>
    </body>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/dependencies/sails.io.js"></script>

<script type="text/javascript">
    io.socket.get('/logs', function (res) {
        console.log(res);
    });

    io.socket.on('message', function (data) {
        console.log("why..")
        console.log(data.file[0]);
        $("#log-data").empty();
        data.file.forEach(element => {
            $("#log-data").append(element + '<br>');
        });
    });
</script>
</html>
